    #bird {
        .st0 {
            fill: #fff
        }
        .st0,
        .st1,
        .st2 {
            fill-rule: evenodd;
            clip-rule: evenodd
        }
        .st1 {
            fill: #72a4b6
        }
        .st2 {
            fill: #c0ccca
        }
    }
