#flying-squirrel {
    .st0 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #598EA9;
    }
    .st1 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #395D77;
    }
    .st2 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #94B5CD;
    }
    .st3 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #395B70;
    }
    .st4 {
        fill: none;
        stroke: #395B70;
        stroke-width: 0.2564;
        stroke-miterlimit: 22.9256;
    }
    .st5 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFFFFF;
    }
    .st6 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #327E9D;
    }
    .st7 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #225C72;
    }
    .st8 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #378DC8;
    }
    .st9 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #5A94C6;
    }
    .st10 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #9DC5D1;
    }
}
