#header-bee {
	.st0 {
                    fill: #1B1A1F;
                }
                
                .st1 {
                    fill: #FFCA26;
                }
                
                .st2 {
                    opacity: 0.4;
                    fill: #FFFFFF;
                }
                
                .st3 {
                    opacity: 0.5;
                    fill: #FFFFFF;
                }
                
                .st4 {
                    fill: #FFFFFF;
                }
}