#header-bee {
    .st0 {
        fill: #1b1a1f
    }
    .st1 {
        fill: #ffca26
    }
    .st2 {
        opacity: .4;
        fill: #fff
    }
    .st3 {
        opacity: .5
    }
    .st3,
    .st4 {
        fill: #fff
    }
}