#nav-menu {
    .st0 {
    fill: none;
    stroke: #3F7188;
    stroke-width: 3;
    stroke-miterlimit: 10;
    stroke-opacity: 0.5;
    stroke-dasharray: 5, 5;
}

.st1 {
    opacity: 0.7;
    fill: #D0E4E5;
    enable-background: new;
}

.st2 {
    opacity: 0.5;
    fill: #4D93AC;
    enable-background: new;
}

.st3 {
    opacity: 0.5;
    fill: #3E7187;
    enable-background: new;
}

.st4 {
    opacity: 0.2;
    fill: #3E7187;
    enable-background: new;
}

.st5 {
    opacity: 0.1;
}

.st6 {
    fill: #D0E4E5;
}

.st7 {
    fill: #FFFFFF;
}

.st8 {
    font-family: $base-font;
}

.st9 {
    font-size: 100%;
}

.st10 {
    fill: #3E7187;
}

.st11 {
    opacity: 0.4;
    fill: #3E7187;
    enable-background: new;
}

.st12 {
    fill: #37722B;
}

.st13 {
    opacity: 0.5;
}

.st14 {
    opacity: 0.4;
}

.st15 {
    opacity: 0.5;
    fill: #1F3D47;
    enable-background: new;
}

.st16 {
    opacity: 0.5;
    fill: #313A3A;
    enable-background: new;
}

.st17 {
    opacity: 0.3;
    fill: #3E7187;
}

.st18 {
    opacity: 0.1;
    fill: #3E7187;
    enable-background: new;
}
}


