$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;
$rythm-unit: 'rem';
* {
    box-sizing: border-box;
}
body {
    margin: auto;
    background-color: $green;
    // background-image: image-url("background.svg");
    // background-repeat: no-repeat;
    // background-size: cover;
    font-family: $base-font;
    color: darken($blue, 10);
}
main {
}
ul {
    list-style: none;
    li {
        display: inline;
    }
}
a {
    color: $white;
    text-decoration: none;
    text-align: center;
}
button {
    border: none;
    background: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
