/*
Header styles
 */

header {
    display: flex;
    justify-content: space-between;
    .logo {
        width: 18%;
        padding: 25px;
        ;
    }
    nav {
        width: 50%;
    }
}


/*
Main styles
 */

main {
    // home styles
    #home {
        margin-top: -2%;
        #home-top-container {
            display: flex;
            justify-content: center;
            align-items: center;
            #header-bee {
                width: 4%;
                position: relative;
                left: -25%;
            }
        }
        #home-container {
            display: flex;
            #home-left-container {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                width: 20%;
                #paper-plane {
                    width: 30%;
                    margin-bottom: 10%;
                }
            }
            #video-container {
                width: 60%;
                video {
                    width: 100%;
                }
            }
        }
    }
    #about {
        h2 {
            margin-top: 10%;
            margin-left: 13%;
        }
        .about-main {
            width: 65%;
            margin: 0px auto;
            margin-top: -5%;
            position: relative;
        }
        p {
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 0 75px;
        }
    }
    #work{
        h2 {
            margin-top: 5%;            
            margin-left: 13%;
        }
        #work-main {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin: 0px auto;
            margin-top: 5%;
            .work-main-slide-buttons {
                margin-top: 15%;
                width: 35%;
                li {
                    display: block;
                    margin-bottom: 10%;
                    padding-left: 25px;
                    color: $white;
                }
                li:nth-child(even) {
                    background: image-url("work_button_shape_even.svg") no-repeat;
                    margin-left: 15%;
                }
                li:nth-child(odd) {
                    background: image-url("work_button_shape_odd.svg") no-repeat;
                    
                }

            }
            .work-main-slides {
                position: relative;
                width: 65%;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
    #team {
        h2 {
            margin-top: 13%;
            margin-left: 10%;
        }
        #team-main {
            margin-left: 60%;
            p {
                .role {
                    display: block;
                }
            }
        }        
    }
    #testimonial {
        h2 {
            margin-top: 25%;
            margin-left: 15%;
        }
        #testimonial-main {
            display: flex;
            justify-content: space-between;
            margin-top: 6%;
            .testimonial-main-left {
                width: 7%;
                margin-left: 7%;
                margin-top: -2%;
            }
            .testimonial-main-middle {
                width: 60%;
                display: flex;
                justify-content: center;
                .testimonial-main-slide {
                    width: 60%;
                    text-align: center;
                    position: relative;
                    .testimonial-main-slide-bg {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    p {
                        padding: 15% 15%;
                        z-index: 2;
                    }
                }
                .testimonial-main-slide-pic {
                    width: 20%;
                    margin-top: 30%;
                    img {
                        width: 100%;
                    }
                }
            }
            .testimonial-main-right {
                width: 10%;
                margin-top: 10%;
                margin-right: 10%;
            }
        }
    }
}

footer {
    margin-top: 48%;
    margin-left: 10%;
    margin-bottom: 4%;
    ul {
        width: 15%;
        display: flex;
        justify-content: space-between;
        img {
           width: 100%;
        }
    }
}