@import 'https://fonts.googleapis.com/css?family=Comfortaa:400,700|Indie+Flower|Handlee';

#hanging-board_1_ text {
    font-family: Handlee;
    font-size: 2em;
    letter-spacing: 2px;
    word-spacing: 3px;
}
